# PostgreSQL Configuration
DB_NAME=inrh_metadata
DB_USER=inrh_admin
DB_PASSWORD=inrh_password
DB_HOST=localhost
DB_PORT=5432

# MinIO (Data Lake) Configuration
MINIO_ENDPOINT=localhost:9010
MINIO_ACCESS_KEY=inrh_minio_admin
MINIO_SECRET_KEY=inrh_minio_password
MINIO_SECURE=False

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Django
DJANGO_SECRET_KEY=inrh-dev-secret-key-change-in-production-12345
DJANGO_DEBUG=True
